body { font-family: Arial; padding:20px; background:#f5f5f5; }

.nav { background:#222; padding:12px; }
.nav a { color:white; margin-right:15px; text-decoration:none; }

table {
 border-collapse: collapse;
 width:100%;
 background:white;
 margin-top:20px;
}

td, th {
 border:1px solid #ccc;
 padding:8px;
}

th {
 background:#b30000;
 color:white;
}

.modal {
 display:none;
 position:fixed;
 inset:0;
 background:rgba(0,0,0,0.4);
}

.box {
 background:white;
 padding:20px;
 width:300px;
 margin:120px auto;
}
